<template>
  <div>
      <form>
          <button @click.prevent="upvote"
                :class="currentVote == 1 ? 'btn-primary' : 'btn-default'"
                :disabled="voteInProgress"
                class="btn">+1</button>
                <!-- como usamos varias veces el current-score ya no puede ser un ID -->
                Puntuación actual: <strong class="current-score">{{ currentScore }}</strong>
          <button @click.prevent="downvote"
                :class="currentVote == -1 ? 'btn-primary' : 'btn-default'"
                :disabled="voteInProgress"
                class="btn btn-default">-1</button>
      </form>
  </div>
</template>

<script>
export default {
    props: ['score', 'vote', 'id', 'module'],
    data() {
        //! la función data es para que no cambiemos las propiedades de forma directa...
        return {
            //! con parseInt forzamos a que el dato sea un entero y no un string!
            // nos preguntamos si tenemos un voto actual->lo pasamos a entero, si no es null
            currentVote: this.vote ? parseInt(this.vote) : null,  //es igual al voto que estoy pasando como una propieadad
            // tenemos una puntuación actual? ->no es necesario en la tabla le dimos un valor por defecto
            currentScore: parseInt(this.score), //igual a la puntuación actual del post...
            // desactivamos los botones mientras se bota por el delay...
            voteInProgress:false

        }
    },
    methods: {
        upvote() {

            this.addVote(1);

            /* // el usuario ya voto por este post?
            if(this.currentVote == 1) {
                /** le indicamos a la Laravel que debe eleminar ese voto.
                // !lo hacemos con una nueva petición de Ajax con axios
               // entonces restamos un voto
                this.currentScore--;

                axios.delete(window.location.href + '/vote');

                // si estamos eliminando el voto entonces es:
                this.currentVote = null;
            } else {
                 entonces si quisiera agregar un voto postivo a este post
                  deberiamos actualizar la puntuación según el voto actual
                  debemos sumar 1 punot si el voto actual es null
                  si no es null ya voto de forma negativa entonces debemos
                  contrarestar esto sumando 2 al post!!!
                this.currentScore += this.currentVote == null ? 1 : 2;

                //! enviamos una petición con axios con axios...
                //obtenemos la url y le agregamos el segmento. Votamos
                axios.post(window.location.href + '/upvote')

                // si estamos votando entonces el voto:
                this.currentVote  = 1;
            } */
        },
        downvote() {

            this.addVote(-1);

            /* // debemos comprobar que el voto actual no sea un voto negativo
            if(this.currentVote == -1) {

               // entonces sumamos un voto
                this.currentScore++;

                //! enviamos una petición con axios con axios...
                axios.delete(window.location.href + '/vote');

                // el actual voto entonces es:
                this.currentVote = null;
            } else {
                // entonces hacemos lo contrario que arriba, en este caso restamos!!!
                this.currentScore += this.currentVote != null ? -2 : -1;

                //! enviamos una petición con axios con axios...
                axios.post(window.location.href + '/downvote')

                // entonces el voto actual es:
                this.currentVote  = -1;
            } */

        },
        addVote(amount) { //recibe la cantidad por la cual queremos votar

            // esto es como una bandera
            this.voteInProgress = true;

            // el usuario ya voto por este post?
            if(this.currentVote == amount) {
                /** le indicamos a la Laravel que debe eleminar ese voto.
                 *!lo hacemos con una nueva petición de Ajax con axios
                */

               // entonces estamos intentando deshacer el voto actual...
               //!  lo traemos del servidor
                //this.currentScore -= this.currentVote; //-1, +1

                /** Podemos traer los datos de nuestra API, los votos nosotoros
                 * los devolvemos en formato Json, podemos esperar que la petición
                 * ajax se resuelva y obtener los datos con then, al cual dentro le
                 * pasamos un callback que se llama en el momento en que se
                 * retornen los datos de la DB, este callback reibe un objeto llamado
                 * response,
                 */
                /* axios.delete(window.location.href + '/vote').then((response) => {
                    //! obtenemos el valor y se lo asignamos a nuestra propiedad en VUEJS
                    this.currentScore = response.data.new_score;
                    // console.log(response);
                }); */

                this.processRequest('delete', 'vote');

                // si estamos eliminando el voto entonces es:
                this.currentVote = null;
            } else {
                /** entonces si quisiera agregar un voto postivo a este post
                 * deberiamos actualizar la puntiación según el voto actual
                 * debemos sumar 1 punot si el voto actual es null
                 * si no es null ya voto de forma negativa entonces debemos
                 * contrarestar esto sumando 2 al post!!! */
                //! ahora lo traigo del servidor...
                // this.currentScore += this.currentVote ? (amount * 2) : amount;

                this.processRequest('post', 'vote/' + amount);

                /*! enviamos una petición con axios con axios...
                //obtenemos la url y le agregamos el segmento. Votamos
                axios.post(window.location.href + (amount == 1 ? '/upvote' : '/downvote')).then((response) => {
                    //! obtenemos el valor y se lo asignamos a nuestra propiedad en VUEJS
                    this.currentScore = response.data.new_score;
                }); */

                // si estamos votando entonces el voto:
                this.currentVote  = amount;
                }
        },
        processRequest(method, action) { //el metodo y la action lo pasamos...
            /** Podemos traer los datos de nuestra API, los votos nosotoros
             * los devolvemos en formato Json, podemos esperar que la petición
             * ajax se resuelva y obtener los datos con then, al cual dentro le
             * pasamos un callback que se llama en el momento en que se
             * retornen los datos de la DB, este callback reibe un objeto llamado
             * response,
             */
            axios[method](this.buildUrl(action)).then((response) => {
                //! obtenemos el valor y se lo asignamos a nuestra propiedad en VUEJS
                this.currentScore = response.data.new_score;
                // console.log(response);

                // una vez procesada la petición activo los botones...
                this.voteInProgress = false;
            }).catch((thrown) => {

                alert('Ocurrió un error!');

                this.voteInProgress = false;
            });
        },
        buildUrl(action) {
            return '/' + this.module + '/' + this.id + '/' + action;
        }
    }
}
</script>
